<%- include("templates/cabecera.ejs", {tituloPagina: "Sobre nosotros"}) %>
<div class="con1">
    <div class="cardc1">
        <img src="/images/empleado1.jpg" alt="" />
        <div class="imagen-c1-content">
        <h2>
            <%= vendedores.recordset[0].FirstName + " " +
            vendedores.recordset[0].MiddleName + " " +
            vendedores.recordset[0].LastName%>
        </h2>
        <p>
            Conozca a nuestro vendedor estrella con una cantidad de ventas totales
            de $<%= vendedores.recordset[0].SalesLastYear %> el año pasado
        </p>
        </div>
    </div>

    <div class="cardc1">
        <img src="/images/empleado2.jpg" alt="" />
        <div class="imagen-c1-content">
        <h2>
            <%= vendedores.recordset[1].FirstName + " " +
            vendedores.recordset[1].MiddleName + " " +
            vendedores.recordset[1].LastName%>
        </h2>
        <p>
            Nuestra segunda mejor vendedora con ventas totales de $<%=
            vendedores.recordset[1].SalesLastYear %> el año pasado.
        </p>
        </div>
    </div>

</div>
<%- include("templates/footer.ejs") %>